.login-page{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 576px) { 
    .login-page{
    width: 50%;
}
 }

 
@media (min-width: 578px )and (max-width: 1000px) { 
    .login-page{
    width: 40%;
}
}

@media (min-width: 1000px )and (max-width: 1400px) { 
    .login-page{
    margin-top:10%;
    width: 30%;
}
}
